/* Global Settings */
body{
    margin: 0px;
    
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0px;
}
p{
    margin-top: 0px;
}


/* Helper Classes */
.left{
    float: left;
}
.right{
    float: right;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
}
.w-100{
    width: 100%;
}
.container{
    width: 1170px;
    margin: 0 auto;
}


/* Generic Css */
#header{
    background-color: #062F4D; 
}
#header a{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
#header .logo{
    width: 10%;
    padding-top: 20px;
    margin-right: 31px;
}
#header .links{
    width: 10%;
    padding-top: 27px;
    font-size: 19px;
    font-weight: 400;
}
#main-navigation{
    width: 76%;
}
#header .links span{
    margin-left: 18px;
}
#main-navigation>ul>li{
    display: inline-block;
}
#main-navigation ul li a{
    display: block;
    padding: 22px 10px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 16px;
    position: relative;
}
#main-navigation ul li a:hover{
    background-color: #042135;
}
#main-navigation ul li:hover .dropdown{
    display: block;
}
#main-navigation .dropdown{
    display: none;
    width: 800px;
    position: absolute;
    background-color: #fff;
    left: 23%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
}
#main-navigation .dropdown a{
    color: #073759;
    padding: 0px;
    text-transform: none;
}
#main-navigation ul li .dropdown a:hover{
    background-color: transparent;
}
#main-navigation>ul>li>a:after{
    display: none;
    content:"";
    position: absolute;
    border: 8px solid;
    border-color: transparent transparent #fff;
    left: 40%;
    bottom: 0px;
}
#main-navigation ul li:hover a:after{
    display: block;
}
#main-navigation>ul>li:first-child>a:after{
    border: 0px;
}
#main-navigation>ul>li:nth-child(13)>a:after{
    border: 0px;
}
#main-navigation>ul>li:last-child>a:after{
    border: 0px;
}
#main-navigation .col-1{
    width: 69%;
    padding: 17px;
}
#main-navigation .col-2{
    width: 24%;
    padding: 11px;
    background-color: #f3f3f3;
}
#main-navigation .dropdown .col-1 ul{
    list-style: square;
    padding-left: 19px;
}
#main-navigation .dropdown .sub-col-1{
    width: 42%;
    margin-right: 23px;
}
#main-navigation .dropdown .sub-col-2{
    width: 42%;
    margin-left: 26px;
}
#main-navigation .dropdown .image{
    position: relative;
}
#main-navigation .dropdown .text{
    position: absolute;
    bottom: 0px;
    width: 70%;
    left: 10px;
}
#main-navigation .dropdown .text a{
    color: #fff;
}
#main-navigation .dropdown li{
    font-size: 15px;
    margin-bottom: 16px;
    padding-left: 4px;
}
#main-navigation .dropdown .col-2 li{
    margin-bottom: 8px;
}


/* Specific Css */