/* Global Settings */
body{
    margin: 0px;
    
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0px;
}
p{
    margin-top: 0px;
}


/* Helper Classes */
.left{
    float: left;
}
.right{
    float: right;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
}
.bef::before{
    content:"";
    display: block;
    clear: both;
}
.w-100{
    width: 100%;
}
.container{
    width: 1170px;
    margin: 10px auto;
}


/* Generic Css */
#header{
    background-color: #062F4D; 
}
#header a{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
#header .logo{
    width: 8%;
    padding-top: 20px;
    margin-right: 31px;
}
#header .links{
    width: 10%;
    padding-top: 27px;
    font-size: 19px;
    font-weight: 400;
}
#main-navigation{
    width: 78%;
}
#header .links span{
    margin-left: 18px;
}
#main-navigation>ul>li{
    display: inline-block;
}
#main-navigation ul li a{
    display: block;
    padding: 22px 10px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 16px;
    position: relative;
}
#main-navigation ul li a:hover{
    background-color: #042135;
}
#main-navigation ul li:hover .dropdown{
    display: block;
}
#main-navigation .dropdown{
    display: none;
    width: 800px;
    position: absolute;
    background-color: #fff;
    left: 23%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
}
#main-navigation .dropdown a{
    color: #073759;
    padding: 0px;
    text-transform: none;
}
#main-navigation ul li .dropdown a:hover{
    background-color: transparent;
}
#main-navigation>ul>li>a:after{
    display: none;
    content:"";
    position: absolute;
    border: 8px solid;
    border-color: transparent transparent #fff;
    left: 40%;
    bottom: 0px;
}
#main-navigation ul li:hover a:after{
    display: block;
}
#main-navigation>ul>li:first-child>a:after{
    border: 0px;
}
#main-navigation>ul>li:nth-child(13)>a:after{
    border: 0px;
}
#main-navigation>ul>li:last-child>a:after{
    border: 0px;
}
#main-navigation .col-1{
    width: 69%;
    padding: 17px;
}
#main-navigation .col-2{
    width: 24%;
    padding: 11px;
    background-color: #f3f3f3;
}
#main-navigation .dropdown .col-1 ul{
    list-style: square;
    padding-left: 19px;
}
#main-navigation .dropdown .sub-col-1{
    width: 42%;
    margin-right: 23px;
}
#main-navigation .dropdown .sub-col-2{
    width: 42%;
    margin-left: 26px;
}
#main-navigation .dropdown .image{
    position: relative;
}
#main-navigation .dropdown .text{
    position: absolute;
    bottom: 0px;
    width: 70%;
    left: 10px;
}
#main-navigation .dropdown .text a{
    color: #fff;
}
#main-navigation .dropdown li{
    font-size: 15px;
    margin-bottom: 16px;
    padding-left: 4px;
}
#main-navigation .dropdown .col-2 li{
    margin-bottom: 8px;
}


/* Specific Css */


/* Page_1 */

#page_header {
    background-color: #073759;
    position: relative;
}

#page_header ul li {
    display: inline-block;
}

#page_header ul li a {
    color: #fff;
}

#page_header .logo {
    position: absolute;
    width: 10%;
    z-index: 20;
}

#page_header .logo img {
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
}

#page_header .sociable {
    width: 13%;
}

#page_header .sociable ul li {
    margin-right: 8px;
    padding: 12px 0px;
    font-size: 18px;
}

#secondary-navigation {
    margin-left: 12%;
    width: 75%;
}

#secondary-navigation ul li {
    font-weight: bold;
    padding: 12px 7px;
}


/* Section_1 */

#section_1 {
    border-top: 4px solid #fff;
    margin-bottom: 100px;
}

#section_1 .col-1,
#section_1 .col-3 {
    width: 24.6%;
}

#section_1 .col-2 {
    width: 50%;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
}

.box {
    position: relative;
}

.box:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    left: 0px;
    top: 0px;
}

.box .desc {
    position: absolute;
    bottom: 0px;
    z-index: 10;
    padding: 10px;
}

.box .desc a {
    color: #fff !important;
}

.box:hover img {
    filter: grayscale(1);
}


/* Section_2 */

#section_2 .news {
    width: 70%;
}

#section_2 a {
    color: #073759;
}

#section_2 .stories {
    width: 25%;
}

#section_2 .news .image,
#section_2 .news .news_list {
    width: 49%;
}

#section_2 .news_list .image_1 {
    width: 15%;
}

#section_2 .news_list .text {
    width: 80%;
}

#section_2 .news_list li {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
}

.title {
    position: relative;
}

.title:after {
    content: "";
    border: 1px solid #062F4D;
    position: absolute;
    width: 100%;
    left: 0%;
    top: 47%;
    z-index: -1;
}

.title a {
    background-color: #fff;
    padding-right: 10px;
}


/* footer */

#footer .main-footer{
    background-color: #073759;
    padding: 45px 110px;
    position: relative;
    margin: 30px 0px 20px;
}
#footer .links a{
    text-transform: none;
    color: #fff;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
}
#footer .links li{
    color: #fff;
    margin: 0px;
    padding: 0px;
}
#footer .links{
    width: 65%;
    margin: 0px;
    padding: 0px;
}
#footer .download{
    width: 35%;
    
}
#footer h4{
    color: #fff;
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 27px;
    text-transform: uppercase;
}
#footer .download p{
    color: #fff;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
}
#footer .download a{
    color: #fff;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
#footer .trademark{
    color: #fff;
    margin-left: 70%;
}
#footer .about{
    width: 12%;
}
#footer .stay, .legal{
    width: 28%;
}
#footer .logo{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: -22px;
}
#footer .sub-footer {
    background-color: #E5E5E5;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#footer .sub-footer-container {
    margin-right: 350px;
    margin-left: 350px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.footer-logo {
    border-right: 2px solid;
    border-color: #042135;
    padding: 8px;
    margin: 0px;
    width: 16%;
}
#footer .widget {
    padding: 3px 45px;
}
#footer .title {
    display: inline-block;
    margin: 0px;
    width: 58%;
}
